# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

libtorch/
boost_1_87_0/
cmake*/
mnist/
cifar-10-batches-bin/
pytorch_playground/main.py
pytorch_playground/data/
pytorch_playground/cifar10_test.pt
pytorch_playground/cifar10_train.pt
.idea/
